@import '../../globais/uteis.css';
@import '../../globais/header.css';
@import '../../globais/footer.css';
@import '../../globais/titulo.css';

.orçamento-bg{
    background-color: var(--c11);
    box-shadow: inset 0 -760px var(--c1);
    padding-bottom: 120px;
}
.orçamento{
    grid-template-columns: 5fr 7fr;
}
.orçamento h5{
    position: relative;
}
.orçamento h5::before{
    content: '';
    width: 4px;
    height: 8px;
    background: var(--gradiente, linear-gradient(180deg, #0B49E5 0%, #221FCC 100%));
    position: absolute;
    left: -12px;
    top: 4px;
}
label{
    display: inline-block;
    margin-bottom: 0px;
}
.orcamento-detalhes{
    display: none;
    background-color: var(--w);
}
.orcamento-detalhes img{
    border-radius: 5px;
}
.orcamento-detalhes ul{
    font: var(--font-1-pp);
    color: var(--c8);
}
.orcamento-detalhes ul li{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}
.orcamento-detalhes ul li img{
    width: 16px;
    height: 16px;
}
.escolha-opcao{
    background-color: var(--p);
    padding: 64px 72px;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    gap: 20px;
}
.escolha-opcao label{
    font: 600 1rem/1.5 "Poppins";
    color: var(--c4);
    background-color: var(--c10);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
}
.escolha-opcao label span{
    display: none;
}
.escolha-opcao input:checked + label > span{
    display: block;
}
.escolha-opcao label::before{
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid var(--c6);
    border-radius: 50%;
    margin-right: 8px;
    box-sizing: border-box;
}
.escolha-opcao input:checked + label::before{
    border: 1px solid var(--c7);
    box-shadow: inset 0 0 0 3px var(--w), inset 0 0 0 6px var(--c7);
}
.escolha-opcao input{
    opacity: 0;
    position: absolute;
    pointer-events: none;
}
.escolha-opcao > *{
    grid-column: 1/-1;
}
.escolha-opcao > label{
    grid-column: initial;
}
.escolha-opcao input:focus + label{
    box-shadow: 0 0 0 2px var(--p1);
    border-color:black;
}
.escolha-opcao label:hover{
background-color: var(--c9);
}
.escolha-opcao h5{
    font: var(--font-1-pp);
    color: var(--c5);
}

fieldset{
    background-color: var(--c10);
    height: 44px;
    border: none;
    border-radius: 5px;
}
input:checked + label{
    background-color: white !important;
    color: var(--c11);
}
.formularios, .escolha-opcao{
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
}
.orcamento-conteudo{
    display: none;
    margin-top: 24px;
    gap: 20px;
}
.orcamento-conteudo h2{
    font: var(--font-1-pp);
    color: var(--c5);
    position: relative;
}
.orcamento-conteudo h2::before{
    content: '';
    width: 4px;
    height: 8px;
    background: var(--gradiente, linear-gradient(180deg, #0B49E5 0%, #221FCC 100%));
    position: absolute;
    left: -12px;
    top: 4px;
}

#ibik:checked ~ #orcamento-bikcraft,
#iseg:checked ~ #orcamento-seguro{
    display: grid;
}

#inimbus:checked ~ #orc-det-nimbus,
#imagic:checked ~ #orc-det-magic,
#inebula:checked ~ #orc-det-nebula
{
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 20px;
   border-radius: 4px;
   align-items: center;
   gap: 16px;
}

/* CSS para a parte dos formulários */
.formularios{
    background-color: var(--w);
    padding: 64px 72px;
    border-radius: 0px 5px 5px 0px;
}
.termos-condicoes a{
    color: var(--c11);
    font: var(--font-1-p);
    text-decoration: underline;
}
.termos-condicoes a:hover{
    color: var(--c7);
}
.formularios h5{
    font: var(--font-1-pp);
    color: var(--c9);
}
.dados-pessoais{
    margin-bottom: 64px;
}
.dados-entrega{
    margin-bottom: 24px;
}
.termos-condicoes{
    grid-template-columns: 40px 400px;
    gap: 12px;
    align-items: center;
}
#itermos{
    width: 32px;
    height: 32px;
    border-radius: 5px;
}
.form{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

