@import '../globais/uteis.css';

.bicicletas{
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
    max-width: 1400px !important;
    margin-bottom: 80px;
}
.bicicletas-bg h1{
    margin: 120px auto 40px auto;
}
.bicicleta img{
    border-radius: 5px;
}
.bicicleta h3{
    display: flex;
    font: var(--font-1-g);
    color: var(--c11);
    margin-top: 1rem;
    align-items: center;
}
.bicicleta h3::before{
    content: '';
    display: inline-block;
    margin-right:8px;
    width: 12px;
    height: 8px;  
    background-color: var(--p1);  
    transition: width .2s;
}
.bicicleta:hover h3::before{
    width: 24px;
}
.bicicleta h6{
    font: var(--font-2-m);
    color: var(--c8);
    margin-top: .5rem;
}

@media (max-width:1200px){
.bicicletas{
    margin-bottom: 60px;
}
.bicicletas-bg h1{
    margin: 80px auto 40px auto;
    font-size: 2.5rem;
    line-height: 3rem;
}
.bicicleta h3{
    margin-top: .5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font: var(--font-1-m);
}
.bicicleta h6{
    font: var(--font-2-pp);
    margin-top: 0.25rem;
}
}

@media (max-width:800px){
.bicicletas{
    margin-bottom: 0px;
}

}
@media (max-width:500px){
.bicicletas{
    grid-template-columns: 1fr;
    gap: 0;
    justify-items: center;
    gap: 20px;
}
.bicicletas img{
    max-width: 90%;
    max-height: 90%;
}
.bicicleta-preço{
    margin-bottom: 0px;
}
}