@import '../globais/uteis.css';

.parceiros-bg h1{
    margin-bottom: 120px;
    margin-top: 120px;
}
.parceiros-lista ul{
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.parceiros-lista li{
        display: flex;
        padding: 32px;
        border-left: 2px solid var(--c2);
}
.parceiros-lista li:nth-child(n + 5) {
    border-top: 2px solid var(--c2);
}
.parceiros-lista li:first-child, 
.parceiros-lista li:nth-child(5){
    border-left: none;
}
.parceiros-lista img{
    margin: auto;
}


@media (max-width:800px){
.parceiros-lista ul{
    grid-template-columns: 1fr 1fr;
}
.parceiros-lista li:nth-child(n + 3) {
    border-top: 2px solid var(--c2);
}
.parceiros-lista li {
    border-left: none;
}
.parceiros-lista li:nth-child(2n) {
    border-left: 2px solid var(--c2);
}
.parceiros-bg h1{
    margin-bottom: 40px;
    margin-top: 20px;
}
}