@import '../../globais/uteis.css';

.perguntas-bg{
    background-color: var;
    padding-top: 120px;
    padding-bottom: 120px;
}
.perguntas li{
    position: relative;
}
.perguntas li::after{
    content: url('../../../imagens/originais/icones/gerais/lista-suspensa.svg');
    position: absolute;
    top:30px;
    right: 20px;
    transition: .3s;
}
.perguntas li:hover::after{
    transform: rotate(180deg);
}
.perguntas-bg h1{
    margin-bottom: 40px;
}
.perguntas li{
    padding: 20px 40px;
}
.perguntas li:nth-child(odd){
    background-color: var(--c1);
}
.perguntas h5{
    font: var(--font-1-m);
    color: var(--c11);
    font-weight: 900;
    margin-bottom: 1rem;
    position: relative;
    cursor: pointer;
}
.perguntas h5::before{
    content: "";
    width: 12px;
    height: 8px;
    background-color: var(--p1);
    position: absolute;
    top: 8px;
    left: -20px;

}
.perguntas p{
    font: var(--font-2-m);
    color: var(--c9 );
}