@import '../../globais/uteis.css';

.vantagens-bg{
    background-color: var(--p);
    padding: 60px 20px 120px 20px;
    position: relative;
}
.vantagens-bg::after{
    content: url('../../../imagens/originais/icones/decoradores/cinza/bottom-left-cinza.svg');
    position: absolute;
    left:40px;
    bottom:40px;
}
.vantagens-bg h1{
    margin-bottom: 48px;
    color: var(--w);
}
.vantagens ul{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    row-gap: 64px;
}
.vantagem-item h5 {
    font: var(--font-1-mg);
    color: var(--w);
    margin-bottom: 8px;
    margin-top: 8px;
}
.vantagem-item p {
    font: var(--font-2-m);
    color: var(--c6);  
}

@media (max-width:800px){
    .vantagem-item h5{
        font: var(--font-1-p);
    }
    .vantagem-item p {
        font: var(--font-2-pp);
    }
    .vantagens ul{
        gap: 40px;
        row-gap: 32px;
    }
}
@media (max-width:700px){
    .vantagens ul{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:500px){
    .vantagens ul{
        grid-template-columns: 1fr;
    }
}