@import '../../globais/uteis.css';
@import '../../globais/header.css';
@import '../../globais/footer.css';
@import '../../globais/titulo.css';

.box-contato{
    grid-template-columns: 5fr 7fr;
    padding: 0px;
}
.contato-bg{
    background-color: var(--c11);
    box-shadow: inset 0 -260px var(--c1); /*Dá a impressão que o conteúdo está "estourando" a div*/
}
.contato{
    background-color: var(--p);
    color: var(--w);
    padding: 60px;
    border-radius: 5px 0px 0px 5px;
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
}
.contato::after{
    content: url('../../../imagens/originais/icones/decoradores/cinza/bottom-left-cinza.svg');
    left: 40px;
    bottom: 40px;
    position: absolute;

}
.contato h3{
    font: var(--font-1-p-b);
    margin-bottom: 60px;
}
.endereco h5, .contatos li h6{
    font: var(--font-2-p);
    color: var(--c4);
    margin-top: 0px;
}
.endereco{
    margin-bottom: 32px;
}
.endereco img{
    align-self: flex-start;
    margin-right: 8px;
    margin-top: 2px;
}
.contatos li{
    margin-bottom: 32px;
}
.contatos img{
    margin-right: 8px;
}
.redes-sociais{
    margin-top: 60px;
}
.redes-sociais img{
    margin-right: 32px;
    transition: .3s;
}
.redes-sociais img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
form{
    margin-bottom: 0px; /*Por padrão, o form já vem com um margin bottom de 16px. Tirei ele*/
}
.formulario{
    grid-template-columns: 1fr 1fr;
    background-color: var(--w);
    padding: 60px;
    border-radius: 0px 5px 5px 0px;
    align-content: start;
    gap:20px;
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
}
.formulario::after{
    content: url('../../../imagens/originais/icones/decoradores/cinza/bottom-right-cinza.svg');
    right: 40px;
    bottom: 40px;
    position: absolute;

}
.botao{
    grid-column: span 2;
}
.btn{
    margin-top: 0px;
}
/*Alterações na caixa do input da mensagem*/
.mail, .msg{
    grid-column: 1/-1; /*Faz com que as caixas do email e da mensagem ocupem duas linhas do grid*/
}

/* Estilo da parte das lojas */
.lojas-bg{
    background-color: var(--c1);
    padding: 120px 0;
}
.loja-1, .loja-2{
    background-color: var(--w);
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
}
.lojas{
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 60px;
}
.lojas .cidade{
    font: var(--font-1-g);
    position: relative;
}
.lojas .cidade::before{
    content: '';
    width: 12px;
    height: 8px;
    background-color: var(--p1);
    position: absolute;
    left: -24px;
    top: 16px;
}
.lojas .loja-info{
    padding: 32px 60px;
}
.lojas .horario{
    font: var(--font-1-p-b);
    position: relative;
}
.lojas .horario::before{
    content: url('../../../imagens/originais/icones/gerais/horario.svg');
    position: absolute;
    left: -28px;
    top: 1px;
}
.lojas .localizacao-contato{
    grid-template-columns: 1fr 1fr;
    margin: 32px 12px;
    gap: 60px;
    font: var(--font-1-p);
    color: var(--c8);
}
.lojas .localizacao-contato h4{
    line-height: 2rem;
}
.loja-localizacao, .loja-contato{
    position: relative;
}
.loja-localizacao::before{
    content: '';
    width: 2px;
    height: 64px;
    left: -14px;
    background-color: var(--c2);
    position: absolute;
}
.loja-contato::before{
    content: '';
    width: 2px;
    height: 64px;
    left: -12px;
    background-color: var(--c2);
    position: absolute;
}
@media (max-width:1200px){
.lojas .localizacao-contato{
    grid-template-columns: 1fr;
    gap: 24px;
}
.loja-localizacao::before{
    left: -12px;
}
.loja-contato::before{
    left: -12px;
}
}

@media (max-width:900px){
    .contato{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .contato h3{
        grid-column: span 2;
        font: var(--font-1-mg);
        margin-bottom: 40px;
    }
    .contatos li{
        margin-bottom: 12px;
    }
    .contato::after{
        display: none;
    }
    .redes-sociais{
        margin-top: 32px;
        grid-column: span 2;
    }
    .box-contato{
        grid-template-columns: 1fr;
    }
    .lojas{
        grid-template-columns: 0.8fr;
        justify-content: center;
    }
}

@media (max-width:500px){
    .contato{
        grid-template-columns: 1fr;
        padding: 24px;
    }
    .contato .contatos{
        margin-right: 60px;
    }
    .contato h3{
        grid-column: 1;
    }
    .formulario{
        grid-template-columns: 1fr;
        padding-left: 20px;
        padding-right: 20px;
    }
    .redes-sociais{
        grid-column: 1;
    }
    .formulario::after{
        display: none;
    }
    .mail, .msg, .botao{
        grid-column: 1; 
    }
}