@import '../../globais/uteis.css';
@import '../../globais/footer.css';
@import '../../globais/header.css';
@import '../../globais/titulo.css';

.produto-bg{
    background-color: var(--c11);
}
.produto{
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.carrossel{
    align-self: flex-start;
    gap: 20px;
}
.carrossel img{
    border-radius: 5px;
}
.carrossel img:first-child{
    grid-column: span 2;
}
.informacoes{
    margin-bottom: 48px;
}
.informacoes .descricao{
    font: var(--font-2-mg);
    color: var(--c5);
    margin-bottom: 2rem;
}
.informacoes .btn{
    margin-top: 0px;
}
.informacoes .info-adicional{
    font: var(--font-1-pp);
    color: var(--c6);
    flex-direction: column;
    gap: 8px;
}
.informacoes .btn-estoque{
    align-items: center;
    gap: 16px;
    margin-bottom: 48px;
}
.estimativa-entrega, .estoque{
    padding: 4px 8px;
    background-color: var(--p);
    border-radius: 4px;
    gap: 8px;
}

.titulo-secao{
    font: var(--font-1-pp);
    color: var(--w);
    margin-bottom: 12px;
}
.diferenciais{
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    padding: 32px;
    background-color: var(--p);
    gap: 32px;
    margin-bottom: 40PX;
}
.diferencial-item .diferencial-titulo{
    font: var(--font-1-m);
    color: var(--w);
    margin-bottom: 8px;
}
.diferencial-item .diferencial-descricao{
    font: var(--font-2-pp);
    color: var(--c5);
}
.diferencial-item img{
    width: 22px;
    height: 22px;
    margin-bottom: 4px;
}

.ficha{
background-color: var(--p);
padding: 32px;
}
.ficha-item{
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding: 4px 0px;
    border-bottom: 1px solid var(--c11);
}
.ficha-item h5{
    font: var(--font-2-p);
    color: var(--c4);
}
.ficha-item h5:nth-child(2){
justify-self: end;
}


/* CSS da seção que terá outras opções de bicicletas para comprar */
.opcoes{
    margin-bottom: 200px;
}
.opcoes h1{
    margin-top: 60px;
    margin-bottom: 40px;
}
.bikes{
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.bikes img{
    border-radius: 5px;
}
.bikes h5{
    font: var(--font-1-g);
    color: var(--c11);
    display: flex;
    align-items: center;
}
.bikes h5::before{
    content: '';
    width: 12px;
    height: 8px;
    display: inline-block;
    background-color: var(--p1);
    margin-right: 8px;
    transition: all 0.3s;
}
.bikes .bike:hover h5::before{
    width: 24px;   
}
.bikes h6{
    font: var(--font-2-m);
    color: var(--c8);
}


/* CSS da seção que conterá a propaganda para o seguro */

.seguro-bg{
    background-color: var(--c11);
    box-shadow: inset 0 120px white, inset 0 -120px var(--p);
}
.seguro{
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.seguro-img img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.seguro-info{
    margin-top: 180px;
    color: white;
}
.seguro-info p{
    font: var(--font-2-mg);
    color: var(--c5);
    margin-top: 32px;
    margin-bottom: 24px;
}


@media (max-width:800px){
    .produto{
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .titulo h1{
        padding-bottom: 20px;
    }
    .carrossel{
        grid-row: 2;
        margin-bottom: 40px;
    }
    .informacoes .descricao{
        font: var(--font-1-p);
    }
    .seguro{
        grid-template-columns: 1fr;
    }
    .seguro-info{
        grid-row: 1;
    }
    .seguro-info p{
        font: var(--font-2-m);
        margin-top: 12px;
        margin-bottom: 0px;
    }
    .seguro-img{
        height: 300px;
    }
}