@import 'uteis.css';

.titulo-bg{
    background-color: var(--c11);
}
.titulo h4{
    font: var(--font-2-mg-b);
    color: var(--c5);
    padding: 60px 0px 4px 0px;
}
.titulo h1{
    font: var(--font-1-gg);
    color: var(--w);
    padding-bottom: 60px;
}
@media (max-width:800px){
    .titulo h4{
        font: var(--font-2-p);
    }
    .titulo h1{
        font-size: 2rem;
        line-height: 2.25rem;
    }
}